<h1>REST Movie App: newly added to db</h1>
<table>
    <thead>
    <tr>
        <td>Title</td>
        <td>Year</td>
        <td>Runtime</td>
        <td>imdbRating</td>
        <td>BoxOffice</td>
        <td>Production</td>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= film.Title %></td>
            <td><%= film.Year %></td>
            <td><%= film.Runtime %></td>
            <td><%= film.imdbRating %></td>
            <td><%= film.BoxOffice %></td>
            <td><%= film.Production %></td>
        </tr>
    </tbody>
</table>
