
<h1>REST Movie App: Movies in db</h1>

<table id="myTable" class="tablesorter">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Runtime</th>
            <th>imdbRating</th>
            <th>BoxOffice</th>
            <th>Production</th>
        </tr>
    </thead>
    <tbody>
        <% films.forEach(function (film) { %>
        <tr>
            <td><%= film.Title %></td>
            <td><%= film.Year %></td>
            <td><%= film.Runtime %></td>
            <td><%= film.imdbRating %></td>
            <td><%= film.BoxOffice %></td>
            <td><%= film.Production %></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.1/js/jquery.tablesorter.min.js"></script>
<script src="js/script.js"></script>
